appdirs==1.4.3
autopy==2.1.0
beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
cssselect==1.0.3
idna==2.8
linecache2==1.0.0
lxml==4.9.1
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
spynner==2.24
tqdm==4.32.2
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.25.3
websockets==7.0
